<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bulma.min.css">
    <title>Booklist</title>
</head>
<body>
    <main class="columns is-vcentered m-4">
        <div class="panel is-primary column is-two-thirds">
            <div class="panel-heading m-0">
                Books
            </div>
            <div class="panel-block p-6">
                <form th:action="@{/search}" method="post" class="container columns">
                    <!--/*@thymesVar id="term" type="java.lang.String"*/-->
                    <label for="term"></label>
                    <input class="input column is-four-fifths" name="term" type="text" id="term" placeholder="Search" th:value="${term}">
                    <input type="submit" class="button is-outlined is-primary is-light column is-one-fifth ml-2" value="🔎">
                </form>
            </div>
            <div class="panel-block columns" th:each="book: ${books}">
                <b class="column is-one-fifth" style="overflow-x: auto;" th:text="${book.title}"></b>
                <i class="column is-one-fifth" style="overflow-x: auto;" th:text="${book.author}"></i>
                <span class="column is-one-fifth" style="overflow-x: auto;" th:text="${book.currentPage + ' / ' + book.pages}"></span>
                <span class="column is-one-fifth has-text-primary" th:if="${book.pages == book.currentPage}" style="overflow-x: auto;">Finished</span>
                <span class="column is-one-fifth has-text-danger" th:if="${!(book.pages == book.currentPage)}" style="overflow-x: auto;">Not Finished</span>
                <a th:href="${'/edit-book/' + book.id}" class="button is-warning is-light column is-1">Edit</a>
                <button class="button is-danger is-light column is-1"
                        th:data-id="${book.id}"
                        onclick="fetch(`/delete/` + this.getAttribute('data-id'), {method: 'DELETE'}).then(() => location.reload())">Delete</button>
            </div>
        </div>
        <div class="panel is-primary column is-one-third ml-2">
            <a class="button is-primary is-light" href="/add-book">Add</a>
            <a class="button is-info is-light" href="https://github.com/LucasHazardous/booklist" target="_blank">Info</a>
        </div>
    </main>
</body>
</html>